
<html>
    <head>
        <title>{{ page_title }}</title>
        {% block site_includes %}{% endblock %}
        {% block app_includes %}{% endblock %}
        {% block page_includes %}{% endblock %}
        {% block extra_head %}{% endblock %}
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        {% block body %}
        {% endblock %}
    </body>
</html>
