
<html>
    <head>
        <title>{{ page_title }}</title>
        {% block head_extra %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
