

{% macro input_label(name, label) %}
    <label for="{{ name }}_field">{{ label }}</label>
{% endmacro %}

{% macro input(name, type='text') %}
    <div class="form_error" id="{{ name }}_error">{{ errors[name] }}</div>
    <input type="{{ type }}" name="{{ name }}" id="{{ name }}_field"
           value="
            {%- if item -%}
                {{- item|getattribute(name) -}}
            {%- else -%}
                {{- prefill[name] -}}
            {%- endif -%}" />
{% endmacro %}

{% macro textarea(name) %}
<div class="form_error" id="{{ name }}_error">{{ errors[name] }}</div>
<textarea name="{{ name }}" id="{{ name }}_field" cols="60" rows="20">
    {%- if item -%}
        {{- item|getattribute(name) -}}
    {%- else -%}
        {{- prefill[name] -}}
    {%- endif -%}
</textarea>
{% endmacro %}
