

{% macro yui_base_includes %}
<script type="text/javascript" src="http://yui.yahooapis.com/2.3.1/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.3.1/build/reset-fonts-grids/reset-fonts-grids.css"> 
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.3.1/build/assets/skins/sam/skin.css">
{% endmacro %}

{% macro yui_conn_includes %}
<script src="http://yui.yahooapis.com/2.3.1/build/connection/connection-min.js"></script>
{% endmacro %}

{% macro yui_rte_includes %}
<script src="http://yui.yahooapis.com/2.3.1/build/editor/editor-beta-min.js"></script>
{% endmacro %}

{% macro yui_button_includes %}
<script type="text/javascript" src="http://yui.yahooapis.com/2.3.1/build/element/element-beta-min.js"></script> 
<script src="http://yui.yahooapis.com/2.3.1/build/container/container_core-min.js"></script>
<script src="http://yui.yahooapis.com/2.3.1/build/menu/menu-min.js"></script>
<script src="http://yui.yahooapis.com/2.3.1/build/button/button-beta-min.js"></script>
{% endmacro %}

{% macro yui_tabview_includes %}
<script type="text/javascript" src="http://yui.yahooapis.com/2.3.1/build/tabview/tabview-min.js"></script>
{% endmacro %}

{% macro yui_all_includes %}
   {{ yui_base_includes() }}
   {{ yui_conn_includes() }}
   {{ yui_button_includes() }}
   {{ yui_rte_includes() }}
   {{ yui_tabview_includes() }}
    <script type="text/javascript" src="/layout/js/yui-utils.js"></script>
{% endmacro %}

