
<div id="dodgy_rss">
<h4>Latest mailing list posts</h4>


<script language=javascript src="http://rssfeedreader.com/rss3/rss.php?url=http%3A%2F%2Fgroups.google.com%2Fgroup%2Fglashammer%2Ffeed%2Fatom_v1_0_msgs.xml&newpage=&chead=&atl=&desc=&owncss=1&eleminate=&auth=&dts=&width=120&max=5&tlen=0&rnd=&bt=3&bs=Double&nmb=&ntb=&naf=&nst=&nwd=0&nht=0&dlen=100&lstyle=-1&lc=Blue&bg=White&bc=Gray&spc=&ims=&tc=&ts=11&tfont=Verdana,+Arial,+Sans-serif"></script>

<h4>Latest Bugs</h4>

<script language=javascript src="http://rssfeedreader.com/rss3/rss.php?url=http%3A%2F%2Ffeeds.launchpad.net%2Fglashammer%2Flatest-bugs.atom&newpage=&chead=&atl=&desc=&owncss=1&eleminate=&auth=&dts=&width=120&max=5&tlen=0&rnd=&bt=3&bs=Double&nmb=&ntb=&naf=&nst=&nwd=0&nht=0&dlen=100&lstyle=-1&lc=Blue&bg=White&bc=Gray&spc=&ims=&tc=&ts=11&tfont=Verdana,+Arial,+Sans-serif"></script>

</div>

