
{% extends "layout.html" %}



{% block body %}



<div style="float:right; margin-left: 20px;">
<div class="main_menu">
<a href="{{ pathto('downloads') }}"><img src="_static/down-icon.png" />Downloads</a>
<a href="{{ pathto('documentation') }}"><img src="_static/doc-icon.png" />Documentation</a>
<a href="{{ pathto('developers') }}"><img src="_static/dev-icon.png" />Developers</a>
</div>
</div>

<h1>Glashammer Web Site</h1>

<p>Welcome to the Glashammer website.</p>

<h2>What is Glashammer?</h2>

<p>
Glashammer is a Python web framework with an emphasis on
simplicity, flexibility, and extensibility. It is built atop excellent
components and reinvents zero wheels.
</b>

<h2>Why oh why, for all things good, yet another Python web framework?</h2>

<p>
I was getting fed up with rewriting the same code over and over for each web
application. Werkzeug (being an anti-framework) doesn't offer reusable
application objects, view dispatching or templating. Glashammer merely
integrates these and other existing components into a reusable framework.
</p>

{% endblock %}
