
<html>
    <head>
        <link rel="stylesheet" href="{{ url_shared('admin.css') }}"></link>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div id="main">
            <div id="top">
                <h1 class="banner"><a href="{{ url_for('index') }}">Glashammer Admin</a></h1>
            </div>
            <div id="middle">
                <ul id="nav">
                    <li><a href="#">Home</a></li>
                    |
                    <li><a href="#">Away</a></li>
                </ul>
                <div id="content">
                    <div id="crumbs">
                        {% block crumbtrail %}
                            You are here:
                            {% for crumb in crumbs %}
                            <a href="#">{{ crumb|e|capitalize }}</a>
                            {% if not loop.last %}|{% endif %}
                            {% endfor %}
                        {% endblock %}
                    </div>
                    <h1>{{ self.title() }}</h1>
                    <div id="page">{% block content %}{% endblock %}</div>
                </div>
            </div>
            <div id="bottom">
            </div>
    </body>
</html>

