{% extends "_admin/_base.jinja" %}

{% block title %}
    {% if item %}
        Editing {{ item|e }}
    {% else %}
        Create new {{ model_name|capitalize }}
    {% endif %}
{% endblock %}

{% block content %}
<form class="edit-form" method="post">
{{ fs.render() }}
</form>
<script>
    function uify(selectors) {
        for (var i in selectors) {
            var sel = selectors[i];
            $(sel).addClass('ui-widget ui-state-default ui-corner-all ');
            $(sel).hover(
                function() {
                    $(this).removeClass('ui-state-default');
                    $(this).addClass('ui-state-hover');
                },
                function() {
                    $(this).removeClass('ui-state-hover');
                    $(this).addClass('ui-state-default');
                }
            )

        }
    }
    uify(['.edit-form input', '.edit-form select']);

</script>
{% endblock %}
