
html, body, div {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121C26;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #30403B;
}

h1, h2, h3, h4, h5, h6 {
    color: #8C4119;
    font-weight: normal;
    margin: 3px 0px;
}


div#top {
    margin: 3px 0px;
}

h1.banner {
    font-size: 0.9em;
    margin: 0;
    font-weight: bold;
    text-align: right;
}

h1.banner a {
    color: #BFBF8A;
}

ul#nav {
    margin: 6px 0px;
    padding: 0;
    color: #BFBF8A;
}

ul#nav li {
    display: inline;
    list-style: none;
}

ul#nav li a {
    color: #BFBF8A;
}

div#main {
    width: 800px;
    margin: auto;
}

div#middle {
    background-color: #30403B;
    padding: 12px;
    padding-top: 3px;
    -moz-border-radius: 8px;
}

div#crumbs {
    margin-bottom: 3px;
    font-size: 0.9em;
}


div#content {
    background-color: #BFBF8A;
    border: #8b9976 solid 3px;
    padding: 12px;
    -moz-border-radius: 8px;
}


# grids

.row-actions {
    padding: 0; margin: 0;
}

.row-actions li {
    padding: 0; margin: 4px 0px;
    list-style: none;
    float: left;
}

.edit-form label {
    width: 200px;
    display: block;
    color: #8C4119;
    font-size: 0.9em;
    margin-top: 4px;
}

.edit-form input {
    width: 400px;
}

.edit-form select {
    width: 400px;
}
