{% extends "admin/layout.html" %}
{% from 'admin/_comment.html' import render_comment %}
{% block title %}{{ _("Dashboard") }}{% endblock %}
{% block contents %}
  <h2>{{ _("Dashboard") }}</h2>
  <div class="text">
    <p>Welcome in the admin interface {{ request.user.username }} </p>
    <p>Use these links to get started quickly:</p>
  </div>
  {#
  <ul>
    <li><a href="{{ url_for('admin/new_post')|e }}">{{ _("New Post") }}</a></li>
    <li><a href="{{ url_for('admin/show_posts')|e }}">{{ _("Manage Posts") }}</a></li>
    <li><a href="{{ url_for('admin/options')|e }}">{{ _("Configure TextPress") }}</a></li>
    <li><a href="{{ url_for('admin/plugins')|e }}">{{ _("Manage Plugins") }}</a></li>
    <li><a href="{{ url_for('admin/show_users')|e }}">{{ _("Manage Users") }}</a></li>
  </ul>
  #}
{% endblock %}
